<div class = pagetop>
  <p class = "title"><i class="fa-solid fa-rocket"></i> Mandelbrot Viewer</p>

  <p (click)="handle_event_show_star_window()" class = "button_star"><u *ngIf="show_star_window; else stars_no_underline">Render</u></p>
  <p (click)="handle_event_show_constellation_window()" class = "button_constellation"><u *ngIf="!show_star_window; else cons_no_underline">Colormaps</u></p>
  
  <ng-template #stars_no_underline>
    Stars
  </ng-template>

  <ng-template #cons_no_underline>
    Constellations
  </ng-template>
</div>

<app-star *ngIf="show_star_window;" class = star_window (lookup_constellation_emitter)="lookup_constellation($event)"
  [lookup_star_name]="lookup_name"
></app-star>


<app-constellation *ngIf="!show_star_window;" class="constellation_window" (lookup_star_emitter)="lookup_star($event)"
  [lookup_constellation_name]="lookup_name"
></app-constellation>

<div class = footer>
  <hr>
  <div class="footer_text">
    Celeste is a demonstration website designed to learn Express, Angular and Sequelize.
    It is in no way a finished product and may be improved in the future.<br>
    Data are reviewed to avoid errors, but I cannot warrant full correctness of all content.<br><br>
    Copyright 2022 by <a href="https://www.linkedin.com/in/andrea-ventura-2b0485233/">Andrea Ventura</a>. All Rights Reserved.<br>
    <a href="https://www.ecam.be/">ECAM Brussels engineering school</a>.<br><br>
  </div>
</div>