.info_card_header {
  grid-area: info_card_header;
  font-family: Verdana,sans-serif;
  font-size: 15px;
}
.input_name,
.info_name {
  grid-area: name;
}
.input_description,
.info_description {
  grid-area: description;
}
.input_right_ascension,
.info_right_ascension {
  grid-area: right_ascension;
}
.input_declination,
.info_declination {
  grid-area: declination;
}
.input_apparent_magnitude,
.info_apparent_magnitude {
  grid-area: apparent_magnitude;
}
.input_mass,
.info_mass {
  grid-area: mass;
}
.input_radius,
.info_radius {
  grid-area: radius;
}
.input_age,
.info_age {
  grid-area: age;
}
.input_constellation,
.info_constellation{
  grid-area: constellation;
}
.search{
  grid-area: search;
  width: 100%;
}

.button {
  background-color: white;
  color: #282A35;
  border: 2px solid #282A35;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
}

.button:disabled {  
  opacity: 0.4;
}

.button_add{
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width:fit-content;
}

.button:enabled:hover {
  background-color: #282A35;
  color: white;
}

label, span{
  font-family: Verdana,sans-serif;
  font-size: 13px;
}

.search input{
  float: left;
  width: 66%;
  margin: 10px 5px 10px 10px;
  border: 1px solid #ddd; 
  padding: 4px;
}
.search button{
  margin: 10px 10px 10px 5px;
  padding: 3px 13px;
  width: 17%;
}
.search input,
.search button{
  font-size: 16px;
}
.pannel{
  float: left;
  width: 20vw;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  justify-self: left;
}

.info_card {
  display: inline-block;
  left:20vw;
  width: 60vw;
  padding: 10px;
  border: 2px solid #282A35;
  border-top: 0px;
}

.info_grid {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-areas:
    "name_header name"
    "description_header description"
    "right_ascension_header right_ascension"
    "declination_header declination"
    "apparent_magnitude_header apparent_magnitude"
    "mass_header mass"
    "radius_header radius"
    "age_header age"
    "constellation_header constellation";
  gap: 10px;
  padding: 10px;
}

.fa-star{
  color: gold;
}

.star_list {
  list-style-type: none;
  padding: 0px;
  margin: 10px 0px 0px;
}

.star_list li {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-template-areas: "badge name";
  align-items: center;
  background-color: #eee;
}

.star_list li .badge {
  grid-area: badge;
}

.star_list li .name {
  grid-area: name;
  font-family: "Segoe UI",Arial,sans-serif;
}
.star_list li:hover {
  background-color: #282A35;
  color: white;
}
.star_list .badge {
  padding: 0.5rem 0.6rem;
  color: white;
  background-color: #282A35;
  margin-right: 0.8rem;
  align-self: stretch;
  display: flex;
  align-items: center;
}

@media (max-width: 550px) {
  .star_list li {
    grid-template-columns: min-content 1fr 1fr;
    grid-template-rows: max-content;
    grid-template-areas:
      "badge name name";
  }

  .star_list li .name {
    margin-top: 0.3rem;
  }
}
